#viewlist{
    display: none;
    background: #417bff;    
}

#lishow{
    display: none;
}
#editli{
    display: none;
    background-color: #f1f1f1;
}
#newlhide{
    display: block;
}
body{
    background-color: black;
    color: white;
}
.rem{
    background-color:  #5bb85c;
}
.c-b{
    color: black;
}
img{
    height: 55px;

}
.f-r{
    float: right;
    font-size:48px;
    color:red"
}